{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block header %}
<h1>書籍検索</h1>
<p><a class="btn btn-primary" href="../list/">読書履歴</a></p>
{% endblock header %}

{% block content %}

<div class="text-center my-5">
    <form method="post">
        {% csrf_token %}
        <!-- div class="align-items-center" -->
        <div class="w-50">
            {% render_field form.title class="form-control" placeholder="キーワードから探す" %}
            <button class="btn btn-primary mt-2" type="submit" name="rakuten">楽天</button>　
            <button class="btn btn-primary mt-2" type="submit" name="google">Google</button>
        </div>
    </form>
</div>

{% endblock %}
