{% extends 'booklog/base.html' %}

{% block header %}
<h1>詳細</h1>
{% endblock header %}

{% block content %}
<div class="card" style="width: 55rem;">
    <div class="card-body">
        <table>
            <tr><th width="700">{{booklog.bookname}}</th>
                <td width="150" rowspan="7">{% if booklog.coverimg %}
                        <img src="https://images-fe.ssl-images-amazon.com/images/P/{{ booklog.isbn10 }}.09.LZZZZZZZ"
                             class="card-img-top" alt="{{ booklog.bookname }}" height="200" width="100">
                    {% endif %}
                </td></tr>
            <tr><td>ISBN13：{{booklog.isbn13}}　ISBN10：{{booklog.isbn10}}　分類：{{booklog.genre}}</td></tr>
            <tr><td>著者：{{booklog.author}}　出版：{{booklog.publisher}}</td></tr>
            <tr><td>発行：{{booklog.issuedate}}　取得：{{booklog.getdate}}　読了：{{booklog.readdate}}</td></tr>
            <tr><td>価格：{{booklog.purchase}}円　取得：{{booklog.library}}　状態：
              {% if booklog.state == '未'  %} 未読
              {% elif booklog.state == '中' %} 読書中
              {% elif booklog.state == '了' %} 読了
              {% endif %}
            </td></tr>
            <tr><td><small class="text-muted">概要：{{booklog.overview}}</small></td></tr>
            <tr><td><small class="text-muted">感想：{{booklog.impressions}}</small></td></tr>
        </table>
    </div>
</div>
<a class="btn btn-outline-secondary mt-2" href="{% url 'list' %}" role="button">戻る</a>
{% endblock content %}
