{% extends 'booklog/base.html' %}
{% block header %}
<h1>読書履歴管理</h1>
<p><a class="btn btn-primary" href="{% url 'create' %}">新規作成</a></p>
{% endblock header %}
{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ISBN13</th>
            <th scope="col">タイトル</th>
            <th scope="col">著者</th>
            <th scope="col">ジャンル</th>
            <th scope="col">発行日</th>
            </tr>
        </thead>
        <tbody>
        {% for booklog in booklogs %}
        <tr>
            <td>{{ booklog.isbn13 }}</td>
            <td>{{ booklog.bookname }}</td>
            <td>{{ booklog.author }}</td>
            <td>{{ booklog.genre }}</td>
            <td>{{ booklog.issuedate }}</td>
            <td><a href="{% url 'detail' booklog.pk %}">詳細</a></td>
            <td><a href="{% url 'update' booklog.pk %}">編集</a></td>
            <td><a href="{% url 'delete' booklog.pk %}">削除</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
